@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.woff?v=4.6.3') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rateField { 
  border: none;
  display:flex;
  flex-flow:row-reverse nowrap;
  justify-content:flex-end;
}

.rateField > input { display: none; } 
.rateField > label:after { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.rateField > label { 
  color: #ddd; 
}
.rateField > input:checked ~ label, 
.rateField:not(:checked) > label:hover, 
.rateField:not(:checked) > label:hover ~ label { color: #FFD900;  } 

.rateField > input:checked + label:hover, 
.rateField > input:checked ~ label:hover,
.rateField > label:hover ~ input:checked ~ label, 
.rateField > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.one_star > input:last-of-type+label
{
		color: #FFD900;
}

.two_star > input:nth-last-of-type(-n+2) +label
{
		color: #FFD900;
}
.three_star input:nth-last-of-type(-n+3) +label
{
		color: #FFD900;
}
.four_star > input:nth-last-of-type(-n+4) +label
{
		color: #FFD900;
}
.five_star > input:nth-last-of-type(-n+5) +label
{
		color: #FFD900;
}